h1 {
    background: grey;
    color: white;
    padding: 20px;
    margin: 0px;
    border-collapse: collapse;
}
h3 {
    padding: 10px;
    background: darkgrey;
    color: white;
    margin: 0px;
}
h2 {

}
footer {
    background: darkgrey;
    color: black;
    padding: 10px;
}
.div-float {
    background: orange;
    height: 5px;
    margin: 0px;
}
a {
    color: white;
}